.featured-item{
    background-image: url('https://images.ctfassets.net/sfnkq8lmu5d7/1uLTdtclwKK5DxIBne7G9Y/5739cd36e51a97e7ffd08f495a8826e6/2023-06-22_Male_cat_behavior_after_neutering__Hero.jpg?w=1000&h=750&fl=progressive&q=70&fm=jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}